[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
sqlalchemy = "*"
databases = "*"
pymysql = "*"
aiomysql = "*"
striprtf = "*"
numpy = "*"
scikit-learn = "*"
python-multipart = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
transformers = "*"
sentencepiece = "*"
pydantic-settings = "*"

[dev-packages]
